<section>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderController as vm">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" href="../index.html"><img src="modules/core/client/images/logo3.png" alt="logo" /></a>
            </div>
            <!--Shopping Cart-->
         <!--   <div class="content-count-cart-header dropdown">
                <a href="" title="go to shopping cart" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-shopping-cart"></i>
                    <p class="number-prod-cart">2</p>
                </a>
                <div class="dropdown-menu vertical-li dropdown-prod-cart dropdown-prod-cart-scroll scroll-menu">
                    <ul>
                        <li>
                            <div class="col-md-12 minitotal-prod">
                                <div class="col-md-6 minicart-img">
                                    <img src="modules/core/client/images/store/product/dresses/6.jpg" alt="Big Hoddie" />
                                </div>
                                <div class="col-md-6 minicart-data">
                                    <p class="mc-name">Big Hoddie</p>
                                    <p>1 X $127.00</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-12 minitotal-prod">
                                <div class="col-md-6 minicart-img">
                                    <img src="modules/core/client/images/store/product/2.jpg" alt="Rhon Doe" />
                                </div>
                                <div class="col-md-6 minicart-data">
                                    <p class="mc-name">Rhon Doe</p>
                                    <p>1 X $110.00</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="separator"></div>
                    <div id="cartInfo">
                        <p class="minucart-price">Subtotal $237.00</p>
                    </div>
                    <a href="../shop/shoppingCart.html" id="goToCheckOut">Proceed to purchase</a>
                </div>
            </div> -->
            <!--End Cart-->
            <div class="collapse navbar-collapse navbar-ex1-collapse dropdown-prod-cart-scroll scroll-menu">
                <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
                    <li ui-sref-active="active">
                        <a ui-sref="authentication.signup">Sign Up</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li ui-sref-active="active">
                        <a ui-sref="authentication.signin">Sign In</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
                    <li class="dropdown" uib-dropdown>
                        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
                            <img ng-src="{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}" class="header-profile-image"
                            />
                            <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
                                <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/api/auth/signout" target="_self">Signout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="shop-slide-img_sound">
        <div class="effect-over"></div>
        <canvas id="pixie"></canvas>
        <div class="container">
            <div class="col-lg-12">
                <!--<div class="about-content-icon"><span class="icon-browser"></span></div>
                 <img alt="Rhon Doe" src="modules/core/client/images/home.jpg" /> -->
                <h1 class="shopping-topsub-title">WELCOME</h1>
                <h1 class="shopping-top-title">TO <span class="color-txt">E</span> STORE</h1>
            </div>
        </div>
    </div>    
    <div class="container">
        <!-- Top Images Shop -->
        <div class="row">            
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center shop-title-store">
                <h1 class="section-title">FEATURED <span>PRODUCTS</span></h1>
                <p class="sub-title">Excepteur sint occaecat cupidatat non proident sunt<br>in culpa officia deserunt</p>
            </div>
        <!--  <div class="col-lg-12">
                <div class="content-store shop-prod-filter object">
                    <div class="group filter-button-top">
                        <ul class="filter group albumFilter">
                            <li data-filter="*" class="active">ALL</li>
                            <li data-filter=".cat1">SPEAKERS</li>
                            <li data-filter=".cat2">WATCHES</li>
                            <li data-filter=".cat3">STATION</li>
                            <li data-filter=".cat4">PHONE</li>
                        </ul>
                    </div>
                    <div class="content-search">
                        <input type="text" class="search-query" placeholder="Search">
                    </div>
                </div>
            </div> -->
            <!--List Product-->
            <div id="cbp-vm" class="col-md-12 col-sm-12 col-xs-12 shop-prod activegrid">
                <ul id="product" class="albumContainer ">
                    <!--nav-pills nav-stacked rectangle-list-->
                    <li class="cat1 col-md-4">
                        <div class="shop-img show-down">
                            <img alt="Sound G." src="modules/core/client/images/store/product/1.jpg" />
                        </div>
                        <span class="number-prodsingle-cart">N&#176; 1</span>
                        <!--Triangle Sale-->
                        <span class="onsale-prod">
                        <span>20%</span>
                        </span>
                        <!--End-->
                        <div class="col-lg-12 col-md-12 bt12-detail-shop">
                            <div class="bt-detail-shop">
                                <a class="title" href=""> Sound G.  </a>
                                <p class="shop-price"> $200.00 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary" href="">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary pull-right" href="product.html"><i class="fa fa-list"></i>Details</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="cat3 col-md-4">
                        <div class="shop-img show-down">
                            <img alt="Rhon Doe" src="modules/core/client/images/store/product/2.jpg" />
                        </div>
                        <span class="number-prodsingle-cart">N&#176; 3</span>
                        <div class="col-lg-12 col-md-12 bt12-detail-shop">
                            <div class="bt-detail-shop">
                                <a class="title" href=""> Rhon Doe  </a>
                                <p class="shop-price"> $110.00 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary" href="">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary pull-right" href="product.html"><i class="fa fa-list"></i>Details</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="cat3 col-md-4">
                        <div class="shop-img show-up">
                            <img alt="Patrol SR" src="modules/core/client/images/store/product/3.jpg" />
                        </div>
                        <!--Triangle Sale-->
                        <span class="onsale-prod">
                              <span>10%</span>
                        </span>
                        <!--End-->
                        <div class="col-lg-12 col-md-12 bt12-detail-shop">
                            <div class="bt-detail-shop">
                                <a class="title" href=""> Patrol SR  </a>
                                <p class="shop-price"> $68.00 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary" href="">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary pull-right" href="product.html"><i class="fa fa-list"></i>Details</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="cat2 col-md-4">
                        <div class="shop-img show-down">
                            <img alt="Redo Bag" src="modules/core/client/images/store/product/4.jpg" />
                        </div>
                        <div class="col-lg-12 col-md-12 bt12-detail-shop">
                            <div class="bt-detail-shop">
                                <a class="title" href=""> Redo Bag  </a>
                                <p class="shop-price"> $134.00 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary" href="">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary pull-right" href="product.html"><i class="fa fa-list"></i>Details</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="cat4 col-md-4">
                        <div class="shop-img show-up">
                            <img alt="Mikore" src="modules/core/client/images/store/product/5.jpg" />
                        </div>
                        <span class="number-prodsingle-cart">N&#176; 1</span>
                        <!--Triangle Sale-->
                        <span class="onsale-prod">
                                    <span>50%</span>
                        </span>
                        <!--End-->
                        <div class="col-lg-12 col-md-12 bt12-detail-shop">
                            <div class="bt-detail-shop">
                                <a class="title" href=""> Mikore  </a>
                                <p class="shop-price"> $350.00 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary" href="">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary pull-right" href="product.html"><i class="fa fa-list"></i>Details</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="cat3 col-md-4">
                        <div class="shop-img show-down">
                            <img alt="Big Hoddie" src="modules/core/client/images/store/product/6.jpg" />
                        </div>
                        <div class="col-lg-12 col-md-12 bt12-detail-shop">
                            <div class="bt-detail-shop">
                                <a class="title" href=""> Big Hoddie  </a>
                                <p class="shop-price"> $127.00 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary" href="">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary pull-right" href="product.html"><i class="fa fa-list"></i>Details</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="cat2 col-md-4">
                        <div class="shop-img show-up">
                            <img alt="Roberto J." src="modules/core/client/images/store/product/7.jpg" />
                        </div>
                        <span class="number-prodsingle-cart">N&#176; 5</span>
                        <!--Triangle Sale-->
                        <span class="onsale-prod">
                                    <span>30%</span>
                        </span>
                        <!--End-->
                        <div class="col-lg-12 col-md-12 bt12-detail-shop">
                            <div class="bt-detail-shop">
                                <a class="title" href=""> Roberto J.  </a>
                                <p class="shop-price"> $500.00 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary" href="">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary pull-right" href="product.html"><i class="fa fa-list"></i>Details</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="cat1 col-md-4">
                        <div class="shop-img show-down">
                            <img alt="Rigo S." src="modules/core/client/images/store/product/8.jpg" />
                        </div>
                        <div class="col-lg-12 col-md-12 bt12-detail-shop">
                            <div class="bt-detail-shop">
                                <a class="title" href=""> Rigo S.  </a>
                                <p class="shop-price"> $346.00 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary" href="">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary pull-right" href="product.html"><i class="fa fa-list"></i>Details</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li class="cat1 col-md-4">
                        <div class="shop-img show-down">
                            <img alt="Eliteme" src="modules/core/client/images/store/product/9.jpg" />
                        </div>
                        <!--Triangle Sale-->
                        <span class="onsale-prod">
                                    <span>30%</span>
                        </span>
                        <!--End-->
                        <div class="col-lg-12 col-md-12 bt12-detail-shop">
                            <div class="bt-detail-shop">
                                <a class="title" href=""> Eliteme  </a>
                                <p class="shop-price"> $234.00 </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary" href="">
                                <i class="fa fa-shopping-cart"></i> Add to Cart
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bt-content-shop">
                            <a class="btn btn-lg btn-primary pull-right" href="product.html"><i class="fa fa-list"></i>Details</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
                <!--Pagination-->
                <div class="col-md-12 store-cart-content">
                    <div class="store-cart-footer store-down-bottom">
                        <ul>
                            <li>
                                <button class="btn btn-lg btn-primary" disabled="disabled">
                                            Previous
                                </button>
                            </li>
                            <li>
                                <p class="number-page">1/3</p>
                            </li>
                            <li>
                                <button class="btn btn-lg btn-primary" disabled="disabled">
                                            Next
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <footer>
        <div class="container top-footer-in twocolor4">
            <div class="row">             
            </div>
        </div>
        <div class="info-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-sm-4"><span class="ic-fo icon-phone"></span><span> +353 (0) 123 456 78</span></div>
                        <div class="col-sm-4"><span class="ic-fo icon-envelope"></span><span> hello@angutheme.com</span></div>
                        <div class="col-sm-4"><span class="ic-fo icon-map-pin"></span><span>+353 (0) 123 456 78</span></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--soundCloud-->
    <script src="http://w.soundcloud.com/player/api.js" type="text/javascript"></script>
</section>